<% if want.offer.receipt_started_at <= Date.current %>
  <section class="px-8">
    <div id="want-receipt-form">
      <%= form_with(url: receipt_want_path, method: "patch", local: false) do |f| %>
        <% if want.receipted_at? %>
          <%= f.submit "受け取り完了", class: "btn-primary", disabled: "disabled" %>
        <% else %>
          <%= f.submit "受け取り完了", class: "btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </section>
<% end %>
