<% if want.offer.receipt_started_at <= Date.current %>
  <div class="form form-container">
    <p>ステータス</p>
    <div id="want-receipt-form">
      <%= form_with(url: receipt_want_path, method: "patch", local: false) do |f| %>
        <% if want.receipted_at? %>
          <%= f.submit "受け取り完了", disabled: 'disabled', class: "btn btn-disabled" %>
        <% else %>
          <%= f.submit "受け取り完了", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <%= render partial: 'wants/rating_form', locals: { want: want }%>
  </div>
<% end %>
