<% if want.offer.receipt_started_at <= Date.current %>
  <div class="form form-container">
    <p>ステータス</p>
    <div id="want-receipt-form">
      <% if want.receipted_at? %>
        <input type="submit" class="btn btn-disabled" value="受け取り完了">
      <% else %>
        <%= form_with(url: receipt_want_path, method: "patch", local: false) do |f| %>
          <%= f.submit "受け取り完了", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div id="want-rating-area">
      <%= render partial: 'wants/rating_form', locals: { want: want } if want.receipted_at?%>
    </div>
  </div>
<% end %>
