<% provide(:title, "ウォンツ詳細") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">ウォンツ詳細</h1>
    <div class="mt-8">
      <%= render partial: 'wants/receipt_form', locals: { want: @want, offer: @want.offer } %>
    </div>
  </div>
</header>
<div id="want-rating-area">
  <%= render partial: 'wants/rating_form', locals: { want: @want } if @want.receipted_at?%>
</div>
</div>
<div class="mt-16">
  <%= render partial: 'offers/offer_info', locals: { offer: @want.offer } %>
</div>
<div class="mt-8 mb-20">
  <%= render partial: 'beans/bean_info', locals: { bean: @want.bean } %>
</div>
