<% provide(:title, "Help") %>
<h1>Beansの使い方</h1>
<section class="mt-10">
  <h2>ロースターをフォローしよう！</h2>
  <hr />
  <p>
    お気に入りのロースターを見つけたら早速フォローしましょう<br />
    フォローすることでロースターからあなたにコーヒー豆の招待が届きます
  </p>
</section>
<section class="mt-10">
  <h2>”オファー”に”ウォンツ”しよう</h2>
  <hr />
  <p>
    ロースターからのオファーには生豆の情報がたくさん！<br />
    気になるコーヒー豆があったら手を挙げましょう<br />
    「ウォンツ!」<br />
    そのサインを持ってロースターはあなたのコーヒー豆を焙煎する準備が整います
  </p>
</section>
<section class="mt-10">
  <h2>お店に焙煎豆を取りに行こう！</h2>
  <hr />
  <p>
    予定した日にちになるとロースターはあなたが「ウォンツ」したコーヒー豆を<br />
    焙煎して用意しています<br />
    さっそくお店に立ち寄って焙煎したてのコーヒー豆を受け取りましょう<br />
    まさにあなたのために焙煎された新鮮なコーヒー豆です！<br />
    美味しいうちに楽しんでくださいね!!
  </p>
</section>
