<% provide(:title, "フォロー") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">フォロー</h1>
  </div>
</header>
<div class="mt-4">
  <%= render partial: 'users/users/user_info', locals: { user: @user } %>
</div>
<% if @roasters.any? %>
  <section class="card mt-4 mb-20 py-4 text-gray-600">
    <ol>
      <%= render partial: 'roasters/roaster', collection: @roasters %>
    </ol>
    <%== pagy_nav_js(@pagy) %>
  </section>
<% end %>
