<% provide(:title, "ホーム") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">ホーム</h1>
  </div>
</header>
<section class="mt-4">
  <% if @offers.any? %>
    <%= render partial: 'shared/offer', collection: @offers %>
    <%== pagy_nav_js(@pagy) %>
  <% end %>
</section>
<% content_for :aside do%>
  <% render partial: 'shared/user_aside' %>
<% end %>
