<% provide(:title, "ホーム") %>
<h1 class="text-center">ユーザーのホーム</h1>
<hr class="mb-3">
<div class="container">
  <div class="w-200 pt-12 mx-auto">
    <% if @offers.any? %>
      <ol>
        <%= render partial: 'shared/offer', collection: @offers %>
      </ol>
      <%== pagy_nav_js(@pagy) %>
    <% end %>
  </div>
</div>
