<% provide(:title, "コーヒー豆一覧") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">コーヒー豆一覧</h1>
    <div class="">
      <%= link_to "新規作成", new_bean_path, class: "btn btn-primary" %>
    </div>
  </div>
</header>
<% if @beans.any? %>
  <section class="mt-4">
    <%= render @beans %>
    <%== pagy_nav_js(@pagy) %>
  </section>
<% end %>
