<% provide(:title, "パスワード再設定") %>
<div class="mt-16 flex items-center">
  <div class="form-container">
    <div class="form-main">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <h1 class="form-title">パスワード再設定</h1>
        <%= render "shared/error_messages", resource: f.object %>
        <p class="text-center text-xs text-gray-800">
          パスワードを再設定するには<br>
          登録したメールアドレスを入力してください
        </p>
        <div class="input-container">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: User.human_attribute_name(:email), class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#mail"></use></svg></div>
        </div>
        <div class="form-button-field mt-4">
          <%= f.submit "メールを送信", class: "btn btn-primary btn-pop" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
