.rspec/
db/*.sqlite3
db/*.sqlite3-journal
vendor/assets/
node_modules/
.git/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# vscode設定ファイル
.vscode/
.solargraph.yml

# tailwind_default file
/tailwind_default.config.js
