# .rspec/
db/*.sqlite3
db/*.sqlite3-journal
node_modules/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

# vscode設定ファイル
.vscode/
.solargraph.yml
