# vscode設定ファイル
.vscode/
.solargraph.yml

# dotenv
# TODO Comment out these rules if environment variables can be committed
.env
.env.*

# node_modules
node_modules/

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# SPA化前のディレクトリ構造で必要なファイル
# TODO SPA化が終了したタイミングでファイル自体を削除する
.bundle
config
log
public
tmp
