<% unless current_roaster?(@roaster) %>
  <div id="follow_form">
    <% if current_user.following_roasters.include?(@roaster) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
