<% provide(:title, "ロースター詳細") %>
<h1 class="mb-1">ロースター</h1>
<hr class="mb-3">
<div><%= render 'roaster_info' %></div>
<% if current_user.belonged_roaster?(@roaster) %>
  <%= link_to '編集', edit_roaster_path , class: "btn-primary" %>
<% end %>
