<% provide(:title, "ロースター") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">ロースター</h1>
  </div>
</header>
<%= render 'roaster_info'%>
<div class="mt-4 mx-2 border-b border-gray-200"></div>
<section class="mt-4">
  <% if @offers.any? %>
    <%= render partial: 'shared/offer', collection: @offers %>
    <%== pagy_nav_js(@pagy) %>
  <% end %>
</section>
