<% provide(:title, "ロースター詳細") %>
<h1 class="mb-1">ロースター</h1>
<hr class="mb-3">
<div><%= render 'roaster_info' %></div>
<% if current_user.belonged_roaster?(@roaster) %>
  <%= link_to '編集', edit_roaster_path , class: "btn-primary" %>
<% end %>
<div class="container">
  <div class="w-200 pt-12 mx-auto">
    <% if @offers.any? %>
      <ol>
        <%= render partial: 'offers/offer', collection: @offers %>
      </ol>
      <%== pagy_nav_js(@pagy) %>
    <% end %>
  </div>
</div>
