<% provide(:title, "ユーザー詳細") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">ユーザー詳細</h1>
  </div>
</header>
<div class="mt-4">
  <%= render partial: 'users/users/user_info', locals: { user: @user } %>
</div>
