<div class="h-full flex flex-col items-center">
  <div class="mt-10">
    <%= render 'shared/search_link' %>
  </div>
  <div class="mt-auto mb-4">
    <%= render 'shared/copyright' %>
  </div>
</div>
