<div id="user-aside" class="h-full flex flex-col items-center">
  <div class="mt-10">
    <%= render 'shared/search_link' %>
  </div>
  <div id="user-notification">
    <%= render 'shared/user_notification' %>
  </div>
  <section>
    <% @recommended_offers.each do |offer| %>
      <p><%= offer.id %></p>
    <% end %>
  </section>
  <div class="mt-auto mb-4">
    <%= render 'shared/copyright' %>
  </div>
</div>
