<div id="user-aside" class="h-full w-full flex flex-col items-center">
  <div class="w-full sticky top-0 bg-gray-50 z-50">
    <div class="w-44 mt-10 mx-auto">
      <%= render 'shared/search_link' %>
    </div>
    <section class="h-28 w-full px-6 mt-8 bg-gray-50 flex flex-col justify-start space-y-1">
      <h1 class="text-md text-gray-600 text-center e-font">Notification</h1>
      <div id="user-notification">
        <%= render 'shared/user_notification' %>
      </div>
    </section>
  </div>
  <section class='w-full flex flex-col justify-center items-center space-y-1'>
    <h1 class="w-full pt-4 text-md bg-gray-50 z-40 text-gray-600 text-center e-font sticky top-56">Recommendation</h1>
    <div id="user-recommendation" class="px-2">
      <%= render partial: 'shared/recommended_offer', collection: @recommended_offers, as: :offer %>
    </div>
  </section>
  <div class="pb-4">
    <%= render 'shared/copyright' %>
  </div>
</div>
