<% unless current_roaster?(roaster) %>
  <div id="roaster-<%= roaster.id %>-follow-form">
    <% if current_user.following_roasters.include?(roaster) %>
      <%= render partial: 'roasters/unfollow', locals: { roaster: roaster} %>
    <% else %>
      <%= render partial: 'roasters/follow', locals: { roaster: roaster} %>
    <% end %>
  </div>
<% end %>
