<% provide(:title, "フォローユーザー") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">フォローユーザー</h1>
  </div>
</header>
<%= render 'roaster_info'%>
<% if @users.any? %>
  <section class="card mt-4 mb-20 py-4 text-gray-600">
    <ol>
      <%= render partial: 'users/users/user', collection: @users %>
    </ol>
    <%== pagy_nav_js(@pagy) %>
  </section>
<% end %>
