<div class="flex justify-center items-center space-x-1">
  <%bean.taste_tags.each do |taste_tag|%>
    <%= tag.div taste_tag.name, class: 'badge border bg-white border-gray-300 text-gray-400 capitalize' if taste_tag.id?%>
  <%end%>
</div>
