<% provide(:title, "コーヒー豆詳細") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">コーヒー豆詳細</h1>
    <div class="flex items-end">
      <%= link_to "オファー", new_bean_offer_path(@bean), class: "btn-primary" %>
      <%= link_to '編集', edit_bean_path(@bean), class: "link ml-4" %>
    </div>
  </div>
</header>
<div class="mt-8 mb-20">
  <%= render partial: 'bean_info', locals: { bean: @bean} %>
</div>
