<div class="form-container tab-panel">
  <ul class="tab-group">
    <li class="py-2 text-lg pl-8 e-font italic tab is-active">Roaster</li>
    <li class="py-2 text-lg pl-8 e-font italic tab">Offer</li>
  </ul>
  <div class="form-main mt-8">
    <div class="panel-group">
      <div class="panel is-show">
        <%= render 'roaster_search_form' %>
      </div>
      <div class="panel">
        <%= render 'offer_search_form' %>
      </div>
    </div>
  </div>
</div>
