<% provide(:title, "ロースター検索") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">ロースター検索</h1>
  </div>
</header>
<%= render 'search_form' %>
<div class="mt-4 mx-2 border-b border-gray-200"></div>
<% if @roasters.any? %>
  <section class="card mt-4 mb-20 py-4 text-gray-600">
    <ol>
      <%= render partial: 'roasters/roaster', collection: @roasters %>
    </ol>
    <%== pagy_nav_js(@pagy) %>
  </section>
<% end %>
