<div class="stats">
  <!-- アイコンを設置してwantの切り替えを行う -->
  <!%= link_to offer_wants_path(offer), class: "link mt-4" do%>
  <strong id="offer-<%= offer.id %>-wants", class="stat">
    <%= offer.wants.count %>
  </strong>
  wants
  <!% end %>
</div>
