<% provide(:title, "オファー編集") %>
<% provide(:form_title, "オファーを編集する") %>
<% provide(:button_text, "更新") %>
<div class="my-20">
  <%= render 'form' %>
  <%= render partial: 'beans/bean_info', locals: { bean: @bean } %>
</div>
