<% provide(:title, "オファー詳細") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">オファー豆詳細</h1>
    <div class="flex items-end">
      <% if current_user.had_offer?(@offer) %>
        <%= link_to "編集", edit_offer_path(@offer), class: "btn-secondary ml-4" %>
        <%= link_to "削除", @offer, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "link ml-4" %>
      <% end %>
    </div>
  </div>
</header>
<div class="mt-16">
  <%= render partial: 'offer_info', locals: { offer: @offer } %>
</div>
<div class="mt-8 mb-20">
  <%= render partial: 'beans/bean_info', locals: { bean: @offer.bean } %>
</div>
