<% provide(:title, "ウォンツしたユーザー") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-start items-end">
    <h1 class="page-title">ウォンツしたユーザー</h1>
  </div>
</header>
<div class="mt-16"><%= render @offer %></div>
<div class="mt-4 mx-2 border-b border-gray-200"></div>
<% if @users.any? %>
  <section class="card mt-4 mb-20 py-4 text-gray-600 body-font">
    <ol>
      <%= render partial: 'users/users/user', collection: @users %>
    </ol>
    <%== pagy_nav_js(@pagy) %>
  </section>
<% end %>
