@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* typography  */
/*
title-font
body-font
page-title
*/

/* button, link */
.btn {
  @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer disabled:cursor-not-allowed;
}

.btn-primary {
  @apply py-2 px-4 bg-indigo-500 text-white rounded hover:bg-indigo-600 active:bg-indigo-700 disabled:opacity-50 cursor-pointer disabled:cursor-not-allowed inline-block;
}

.btn-secondary {
  @apply py-2 px-4 bg-white border border-gray-200 text-gray-600 rounded hover:bg-gray-100 active:bg-gray-200 disabled:opacity-50 cursor-pointer disabled:cursor-not-allowed inline-block;
}

.link {
  @apply pt-2 px-1 text-indigo-500 border-b border-indigo-500 hover:text-indigo-600 active:text-indigo-700 disabled:opacity-50 disabled:cursor-not-allowed inline-block;
}

/* nav */
.side-nav-item {
  @apply text-gray-500 hover:text-gray-800 transition duration-200 transform hover:-translate-x-4;
}

.side-nav-text {
  @apply transition opacity-0 group-hover:opacity-100;
}

.mobile-nav-item {
  @apply text-gray-500 hover:text-gray-800 transition duration-200;
}

/* header */
.header {
  @apply md:sticky top-0 z-50 h-20 pb-2 mb-4 mx-2 bg-gray-50 bg-opacity-95 border-b border-gray-200;
}

/* thumbnail, image */
.thumbnail {
  @apply object-cover w-20 h-20 border-2 border-indigo-500 rounded-full;
}

.image {
  @apply w-32 h-32 rounded-md;
}

/* form design  */
.form-container {
  @apply w-full max-w-md  mx-auto pt-10;
}

.form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

.field {
  @apply mb-4;
}

.label {
  @apply block text-gray-700 text-sm font-bold;
}

.input-field {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.select-field {
  @apply inline-block w-64;
}

.select-box {
  @apply block appearance-none w-full bg-white border border-gray-100 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow-md leading-tight focus:outline-none;
}

.sort-box {
  @apply h-10 py-2 px-4 bg-white border border-gray-200 text-gray-600 hover:bg-gray-100 active:bg-gray-200 text-sm text-left;
}

/* alert */
.alert-notice {
  @apply bg-blue-50 border-b border-blue-400 text-blue-800 text-sm p-4;
}

.alert-alert {
  @apply bg-red-50 border-b border-red-400 text-red-800 text-sm p-4;
}

/* card */
.card {
  @apply container lg:w-11/12 mx-auto py-4 bg-white rounded-lg shadow-lg lg:shadow-md;
}

.grid-container {
  @apply lg:grid content-between;
}

.grid-item {
  @apply flex w-11/12 mx-auto border-t border-gray-200 py-2;
}

/* debug-field */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  border-top: black solid 1px;
}

/* pagy-style */
.pagy-nav,
.pagy-nav-js {
  @apply flex justify-center items-center text-gray-600 space-x-2 pb-4;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg px-3 py-1 text-sm;
}

.pagy-nav .page a,
.pagy-nav-js .page a {
  @apply hover:bg-gray-200;
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-300 cursor-default;
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-gray-900 cursor-default bg-gray-300 font-medium;
}

/* offer */
.on_offering {
  @apply bg-blue-500 rounded-full text-white px-3 py-1 text-xs uppercase font-medium;
}
.on_roasting {
  @apply bg-green-500 rounded-full text-white px-3 py-1 text-xs uppercase font-medium;
}
.on_preparing {
  @apply bg-green-500 rounded-full text-white px-3 py-1 text-xs uppercase font-medium;
}
.on_selling {
  @apply bg-red-500 rounded-full text-white px-3 py-1 text-xs uppercase font-medium;
}
.end_of_sales {
  @apply bg-gray-700 rounded-full text-white px-3 py-1 text-xs uppercase font-medium;
}

/* rating */
.radio-tile-group {
  @apply flex justify-center;
}
.radio-tile-group .input-container {
  width: 4.5rem;
  height: 4.5rem;
  @apply relative m-1 sm:m-2;
}
.radio-tile-group .input-container .radio-button {
  @apply opacity-0 absolute top-0 left-0 h-full w-full m-0 cursor-pointer z-50;
}
.radio-tile-group .input-container .radio-tile {
  @apply flex flex-col items-center justify-center w-full h-full border-2 border-indigo-500 rounded p-1 transition transform duration-300 ease-in-out;
}
.radio-tile-group .input-container .icon i {
  @apply fill-current text-indigo-500;
}
.radio-tile-group .input-container .radio-tile-label {
  @apply text-center text-xs font-normal uppercase tracking-tight text-indigo-500 duration-300 ease-in-out;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  @apply bg-indigo-500 border-2 border-indigo-500 text-white scale-110;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon i {
  @apply fill-current text-white border-indigo-500;
}
.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .radio-tile-label {
  @apply text-white;
}
.radio-tile-group .input-container .radio-button:disabled + .radio-tile,
.radio-tile-group .input-container .radio-button:disabled + .radio-tile .icon i,
.radio-tile-group
  .input-container
  .radio-button:disabled
  + .radio-tile
  .radio-tile-label {
  @apply opacity-50;
}
