@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* conponent */
.btn {
  @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.btn-primary {
  @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.btn-disabled {
  @apply bg-gray-400 text-white border-gray-600 font-semibold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

.side-nav-item {
  @apply text-gray-500 hover:text-gray-800 transition duration-200 transform hover:-translate-x-4;
}

.side-nav-text {
  @apply transition opacity-0 group-hover:opacity-100;
}

.mobile-nav-item {
  @apply text-gray-500 hover:text-gray-800 transition duration-200;
}

.link {
  @apply inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800;
}

.thumbnail {
  @apply w-16 h-16 rounded-full;
}

.image {
  @apply w-32 h-32 rounded-md;
}

/* form design  */
.form-container {
  @apply w-full max-w-md  mx-auto pt-10;
}

.form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

.field {
  @apply mb-4;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.input-field {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.select-field {
  @apply inline-block w-64;
}

.select-box {
  @apply block appearance-none w-full bg-white border border-gray-100 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow-md leading-tight focus:outline-none;
}

/* notice */
.alert-notice {
  @apply bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4;
}

.alert-alert {
  @apply bg-red-100 border-l-4 border-red-500 text-red-700 p-4;
}

/* debug-field */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  border-top: black solid 1px;
}

/* pagy-style */
.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
  &:hover {
    @apply bg-gray-300;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
  &:hover {
    @apply text-gray-400 bg-gray-200;
  }
  &:active {
    @apply text-gray-400 bg-gray-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-white cursor-default bg-gray-400;
  &:hover {
    @apply text-white bg-gray-400;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm;
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800;
  }
  &:active {
    @apply text-gray-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}

/* offer */
.on_offering {
  @apply text-blue-800;
}
.on_roasting {
  @apply text-purple-800;
}
.on_preparing {
  @apply text-green-800;
}
.on_selling {
  @apply text-red-800;
}
.end_of_sales {
  @apply text-gray-600;
}
