
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<%# <p class="notice" role="notice"><%= notice %></p>
<%# <p class="alert" role="alert"><%= alert %></p>
