<div class="h-14 fixed bottom-0 inset-x-0 z-50 px-6 flex items-center justify-around border-t border-bray-200 bg-gray-50 bg-opacity-95 ">
  <!-- TOPアイコン -->
  <div class="nav-item"><strong><%= link_to 'home', root_path %></strong></div>
  <!-- アイコン -->
  <div class="nav-item"><%= link_to 'search', '#' %></div>
  <!-- アイコン -->
  <div class="nav-item"><%= link_to 'wants', wants_path %></div>
  <!-- ハンバーガーメニュー -->
  <div class="border border-blue-300">
    ハンバーガー
  </div>
</div>
