<div class="h-14 fixed top-0 inset-x-0 z-50 border-b border-gray-100 bg-gray-50 bg-opacity-95">
  <div class="h-full flex items-center justify-between">
    <!-- TOPアイコン -->
    <div class="pl-8">
      <div><%= link_to 'Beans!', root_path %></div>
    </div>
    <!-- 切り替えアイコン -->
    <div class="pr-8">
      <a href="#" class="block">
        切り替えアイコン
      </a>
    </div>
  </div>
</div>
