<div class="min-h-screen w-full sticky flex flex-col justify-between items-center top-0 z-50 border-r border-gray-100">
  <!-- TOPアイコン -->
  <div class="mx-8 mt-12 pb-8 text-center">
    <div><%= link_to 'Beans!', root_path %></div>
  </div>
  <div class="w-12 mx-auto">
    <hr class="border-gray-200">
  </div>
  <!-- アイコン -->
  <div class="ml-14">
    <% if user_signed_in? %>
      <%= render 'layouts/signed_in_nav' %>
    <% else %>
      <%= render 'layouts/signed_out_nav' %>
    <% end %>
  </div>
  <div class="w-12 mx-auto">
    <hr class="border-gray-200">
  </div>
  <!-- 切り替えアイコン -->
  <div class="mb-8 pt-8">
    <%= link_to root_path do %>
      アイコン
    <% end %>
  </div>
</div>
