<div class="min-h-screen w-full sticky flex flex-col justify-between items-center top-0 z-50 border-r border-gray-200">
  <!-- TOPアイコン -->
  <div class="mx-8 mt-12 pb-8 text-center logo-font text-xl">
    <div><%= link_to 'Bean Stamp', root_path %></div>
  </div>
  <div class="w-12 mx-auto">
    <hr class="border-gray-200">
  </div>
  <!-- ナビアイコン -->
  <div class="ml-14">
    <%= render 'layouts/signed_in_nav' %>
  </div>
  <div class="w-12 mx-auto">
    <hr class="border-gray-200">
  </div>
  <!-- 切り替えアイコン -->
  <div class="mb-8">
    <% if current_user.roaster&.id? %>
      <% if cookies[:roaster_id] %>
        <%= link_to show_thumbnail(current_user), home_users_path, id:"side-toggle" %>
      <% else %>
        <%= link_to show_thumbnail(current_user.roaster), home_roasters_path, id:"side-toggle" %>
      <% end %>
      <svg class="h-6 w-6 mx-auto text-gray-600 mt-2">
        <use xlink:href="#switch-horizontal"></use>
      </svg>
    <% end %>
  </div>
</div>
