<div class="h-full hidden md:block w-28">
  <div class="h-screen w-full sticky flex flex-col justify-between items-center top-0 z-50 border-r border-bray-50 ">
    <!-- TOPアイコン -->
    <div class="w-auto mx-8 mt-12 pb-8 text-center">
      <div><%= link_to 'Beans!', root_path %></div>
    </div>
    <div class="w-12 mx-auto">
      <hr class="border-gray-200">
    </div>
    <!-- アイコン -->
    <div class="px-4">
      <% if user_signed_in? %>
        <%= render 'layouts/signed_in_nav' %>
      <% else %>
        <%= render 'layouts/signed_out_nav' %>
      <% end %>
    </div>
    <div class="w-12 mx-auto">
      <hr class="border-gray-200">
    </div>
    <!-- 切り替えアイコン -->
    <div class="mb-8 pt-8">
      <div><%= link_to '切り替えアイコン', root_path %></div>
    </div>
  </div>
</div>
