<ul class="flex">
  <li class="mx-5 nav-item"><%= link_to 'singup', new_user_registration_path %></li>
  <li class="mx-5 nav-item"><%= link_to 'singin', new_user_session_path %></li>
  <li class="mx-5 nav-item"><%= link_to 'about', about_path %></li>
  <li class="mx-5 nav-item"><%= link_to 'help', help_path %></li>
</ul>
