<p><%= @resource.name %>様</p>
<p>Beansをご利用いただきありがとうございます。</p>
<p>パスワード変更を受け付けました。下記のリンクから新しいパスワードを設定してください。</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>もしこのメールに心当たりがない場合は、本メールは無視していただいて構いません。</p>
<p>パスワードは上記リンクにアクセスし、新しいパスワードを作成するまでは変更されません。</p>
