<% provide(:title, "アカウントの削除") %>

<div class="form-container mb-4">
  <div class="form">
    <%= render "shared/error_messages", resource: resource %>
    <h1 class="text-center mb-4">アカウントを削除しますか？</h1>
    <p class="text-center text-xs mb-4">
      アカウントの削除を行います。<br>
      削除後はユーザー名、コメントは表示されなくなります。<br>
      同アカウントによるウォンツやフォローなどのデータは全て失われます
    </p>
    <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか?" }, method: :delete, class: "btn-primary" %>
  </div>
</div>
